.geocodeStyle #plassering {
  background-color: #e3e3cc;
  border-radius: 25px;
  height: 600px;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
  width: 30%;
  margin: auto; /* Sentrer div */
  border-radius: 25px;
  margin-bottom: 20px;
}

.geocodeStyle .input-field {
  margin-right: 4rem;
  margin-bottom: 16px;
}

.next-button-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.next-button-content svg {
  margin-left: 10px;
}

.pagination-container {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: none;
}
