.centeredTitle {
  text-align: center;
}
.info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.side-by-side {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #b2d0d5; /* Erstatt med din ønskede farge */
  padding: 20px;
  width: 50%;
  margin: auto; /* Sentrer div */
  border-radius: 5px;
  margin-bottom: 20px;
}

.side-by-side2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #b2d0d5; /* Erstatt med din ønskede farge */
  padding: 20px;
  width: 50%;
  margin: auto; /* Sentrer div */
  border-radius: 5px;
  margin-bottom: 20px;
}

.side-by-side3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #b2d0d5; /* Erstatt med din ønskede farge */
  padding: 20px;
  width: 50%;
  margin: auto; /* Sentrer div */
  border-radius: 5px;
  margin-bottom: 20px;
}

.container {
  display: flex;
  justify-content: flex-end;
  margin-right: 100px;
  margin-bottom: 20px;
}
.projectnamebox {
  background-color: #b3d5b2;
  border-radius: 25px;
  padding: 20px;
  width: 550px;
  height: 550px;
}

.next-button-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.next-button-content svg {
  margin-left: 10px;
}

.pagination-container {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: none;
}
