.info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}
.side-by-side {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #aec0c0; /* Erstatt med din ønskede farge */
  padding: 20px;
  width: 50%;
  margin: auto; /* Sentrer div */
  border-radius: 25px;
  margin-bottom: 20px;
}

.side-by-side2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #99a799; /* Erstatt med din ønskede farge */
  padding: 20px;
  width: 50%;
  margin: auto; /* Sentrer div */
  border-radius: 25px;
  margin-bottom: 20px;
}

.side-by-side3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #e3c3bb; /* Erstatt med din ønskede farge */
  padding: 20px;
  width: 50%;
  margin: auto; /* Sentrer div */
  border-radius: 25px;
  margin-bottom: 20px;
}

.container {
  display: flex;
  justify-content: flex-end;
  margin-right: 100px;
  margin-bottom: 20px;
}
.projectnamebox {
  background-color: #a1d7cf;
  border-radius: 25px;
  padding: 20px;
  width: 550px;
  height: 550px;
}
