html {
  background-color: #c5d7e7;
}

.centeredTitle {
  text-align: center;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.container-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* Overriding TextField component's default styles if necessary */
.input-container input {
  margin: 0 auto; /* Center the input field */
}

/* If the TextField description is not part of the TextField component, you can target it separately */
.input-container p {
  text-align: center;
}

.side-by-side,
.side-by-side2,
.side-by-side3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #dee9f2;
  padding: 20px;
  margin: auto;
  border-radius: 10px;
  margin-bottom: 30px;
  width: 95%;
  max-width: 1200px;
  align-items: center;
  text-align: center;
}

.side-by-side > div,
.side-by-side2 > div,
.side-by-side3 > div {
  flex: 1;
  margin: 5px 0;
}

#projectname,
#Projectnumber,
#installer,
#PNinstaller,
#EndCostumer,
#ProjectnumberEC {
  width: 100%;
  max-width: 300px;
}

.container {
  display: flex;
  justify-content: flex-end;
  margin-right: 100px;
  margin-bottom: 20px;
}

.projectnamebox {
  background-color: #c5d7e7;
  border-radius: 25px;
  padding: 20px;
  width: 550px;
  height: 550px;
}

.NesteKnapp {
  position: absolute;
  bottom: 70px;
  right: 70px;
}
.pagination-container {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: none;
}

@media screen and (min-width: 768px) {
  .side-by-side,
  .side-by-side2,
  .side-by-side3 {
    flex-direction: row;
  }

  .side-by-side > div,
  .side-by-side2 > div,
  .side-by-side3 > div {
    margin: 0 10px;
  }

  #projectname,
  #Projectnumber,
  #installer,
  #PNinstaller,
  #EndCostumer,
  #ProjectnumberEC {
    width: 70%;
    max-width: 500px;
  }
}

@media screen and (max-width: 1439px) and (min-width: 768px) {
  .side-by-side,
  .side-by-side2,
  .side-by-side3 {
    padding: 20px;
  }

  .centeredTitle {
    margin-bottom: 20px;
  }

  .side-by-side,
  .side-by-side2 {
    margin-bottom: 30px;
  }
}

/* Styles for small screens, e.g. mobile devices or small tablets */
@media screen and (max-width: 767px) {
  .side-by-side,
  .side-by-side2,
  .side-by-side3 {
    padding: 10px;
  }

  .centeredTitle {
    margin-bottom: 15px;
  }

  .side-by-side,
  .side-by-side2 {
    margin-bottom: 25px;
  }
}
