.row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 70%;
}

.col-12 {
  flex: 1;
  padding: 0;
  overflow: auto;
  text-align: start;
  word-wrap: break-word;
  max-width: 100%;
}

.col-12 ul li {
  list-style-type: circle;
  padding: 0;
}
