.lenScale {
  display: flex;
  flex-direction: row;
  margin: 2%;
}

.Line {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 60vh;
  margin-top: 15px;
  margin-left: 40px;
}

.showScale {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  margin-top: 10px;
  align-items: start;
  padding: 10px;
  border: 2px solid #000000;
  border-radius: 5px;
}

#unitlabel {
  position: relative;
  left: 80px;
  top: -36px;
}

#lineHelp {
  position: relative;
  left: 200px;
  top: 45px;
}

.nextButton {
  position: relative;
  top: 40%;
  left: 50%;
}

.back-button {
  display: flex;
  justify-content: flex-start;
  margin-left: 35px;
  margin-top: 5px;
}

.draggable {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.rotatable {
  display: inline-block;
  position: relative;
  transform-origin: top left;
}

.rotate-handle {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #ccc;
  border-radius: 50%;
}
