.lenScale {
  /* background-color: rgba(0, 0, 0, 0.5); */
  z-index: 1;
  display: flex;
  flex-direction: row;
  flex-basis: 50%;
  margin: 2%;
  align-items: start;
}

.Line {
  display: flex;
  width: 100%;
  margin-top: 15px;
  margin-left: 40px;
}

.showScale {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  margin-top: 10px;
  align-items: start;
  padding: 10px;
  border: 2px solid #000000;
  border-radius: 5px;
}

#unitlabel {
  position: relative;
  left: 80px;
  top: -36px;
}

#lineHelp {
  position: relative;
  left: 200px;
  top: 45px;
}
